@use './../abstract/variables' as *;
@use './../abstract/mixins' as *;

.promo {
  max-height: 456px;
  display: flex;

  border-radius: $border-radius-medium;
  background-color: $color-background-light;

  overflow: hidden;

  @include max-768 {
    display: block;
    max-height: max-content;
  }

  &__image {
    width: 50%;
    height: auto;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include max-768 {
        height: 360px;
      }

      @include max-380 {
        height: 220px;
      }
    }

    @include max-768 {
      width: 100%;
    }
  }

  &__info {
    width: 50%;
    padding: 102px 72px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @include max-768 {
      width: 100%;
      padding: 24px;
    }

    @include max-380 {
      padding: 24px 24px 18px;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 18px;

    @include max-380 {
      margin-bottom: 15px;
    }
  }

  &__description {
    max-width: 515px;
    margin-top: 0;
    margin-bottom: 36px;

    @include max-1440 {
      margin-bottom: 31px;
    }

    @include max-768 {
      max-width: 100%;
      margin-bottom: 24px;
    }

    @include max-380 {
      margin-bottom: 18px;
    }
  }
}
