@use './../abstract/variables' as *;
@use './../abstract/mixins' as *;

.button {
  $this: &;

  padding: 18px 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: $color-text-accent;
  font-family: $font-main;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 28.8px;
  text-align: left;
  color: $color-text-contrast;
  background-color: $color-background-accent;
  border: 1px solid $color-background-accent;
  border-radius: $border-radius-small;

  transition: 0.3s;

  @include max-768 {
    font-size: 0.9375rem;
  }

  &:hover {
    cursor: pointer;
    filter: brightness(1.2);
  }

  &--secondary {
    color: $color-background-accent;
    background-color: transparent;
    border: 1px solid $color-background-accent;
  }

  &--rounded {
    width: 100%;
    max-width: 341px;
    padding: 12px 12px 12px 24px;

    justify-content: space-between;
    gap: 3px;
    border-radius: $border-radius-large;

    @include max-768 {
      padding: 9px 10px 9px 18px;
      max-width: 261px;
    }

    @include max-380 {
      max-width: 279px;
    }

    #{$this}__icon {
      width: 44px;
      height: 44px;

      display: flex;
      align-items: center;
      justify-content: center;

      background-color: $color-background-general;
      border-radius: 50%;

      @include max-768 {
        width: 36px;
        height: 36px;
      }
    }
  }
}
